.about-us {
  display: flex;
  margin-top: -252px;
}

.about-us:before {
  content: "";
  display: block;
  width: 490px;
  height: 505px;
  background: url(../../img/gates.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
}

.about-us__content {
  background-image: url(../../img/mountains.png);
  max-width: 809px;
  height: 455px;
  padding: 69px 77px;
  width: 780px;
  margin-left: -131px;
  margin-top: 100px;
}

.about-us__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 37px;
  color: #000000;
}

.about-us__description {
  margin-bottom: 42px;
  color: #060606;
  line-height: 27px;
  width: 502px;
}

.about-us__description p {
  margin-bottom: 20px;
}

.about-us__description p:last-child {
margin-bottom: 0;
}