.footer-container {
  margin-top: auto;
}

.footer-container__section {
  height: 139px;
}

.footer-container__content {
  border-top: 2px solid hsla(0, 0%, 100%, 0.1);
  margin-top: 56px;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.inner-footer__container {
  padding: 40px 0;
}

.inner-footer {
  margin-top: auto;
}