.wrapper {
  background: url(./img/1.jpg)  50% 0%, url(./img/2.jpg) 50% 92%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

body {
  font-family: "Open Sans";
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  height: 100%;
  width: 100%;
}

.html {
  height: 100%;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 1141px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 536px;
}

.header {
  padding-top: 34px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.logo {
  display: block;
  margin-right: 79px;
}

.menu__list {
  display: flex;
  margin-right: 269px;
}

.menu__item {
  vertical-align: middle;
  margin-right: 54px;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__item:last-child {
  margin-right: 0;
}

.contacts {
  line-height: 1.25;
}
.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__descripsion {
  color: #9A9A9A;
  font-size: 11px;
  margin-bottom: 5px;
}

.contacts__schedule {
  font-size: 13px;
  text-decoration: underline;
  margin-top: -3px;
}

.hero {
  margin-bottom: 242px;
}

.hero__text-section {
  width: 45%;
}

.hero__title {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 23px;
}

.hero__description {
  font-size: 18px;
  margin-bottom: 31px;
}

.button__red {
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: flex;
  margin-right: 345px;
}

.button__line {
  margin-right: 184px;
  display: flex;
}

.button {
  text-decoration: none;
}

.button--line {
  display: flex;
  background: #fff;
  color: #F5170E;
  border: #F5170E;
  border-style: solid;
  border-width: 1px;
  padding: 17px 31px;
  border-radius: 35px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.button--item {
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 30px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: flex;
}

.about-us__button {
  margin-right: 111px;
}

.section {
  margin-bottom: 125px;
}

.tours__title-content {
  margin-bottom: 50px;
  display: flex;
}

.tours__title {
  font-size: 36px;
  font-weight: 700;
}

.tours__fire-pic {
  width: 21px;
  height: 28px;
  margin-left: 12px;
  margin-top: 11px;
}

.tours__content-list {
  display: flex;
  justify-content: space-between;
}

.tours__item {
  min-height: 449px;
  width: calc(100% / 3 - 18px);
  border-radius: 5px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.tours__item:last-child {
  margin-right: 0;
}

.tours__item-header {
  min-height: 144px;
}

.tours__content {
  padding: 26px 22px;
  color: black;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tours__content-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 21px;
  margin-top: 2px;
}

.tours__content-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  margin-left: 6px;
  margin-top: -1px;
}

.tours__content-item {
  display: flex;
}

.tours__content-pic, .tours__content-description {
  display: inline-flex;
}

.tours__content-item:last-child {
  margin-right: 0;
}

.tours__content-description {
  color: #666;
  margin-left: 4px;
  margin-right: 42px;
}

.tours-item__description {
  width: 324px;
  height: 63px;
  font-size: 14px;
  color: #303030;
  margin-bottom: 24px;
}

.news {
  margin-bottom: 200px;
}

.news__list {
  display: flex;
  justify-content: space-between;
}

.news__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 46px; 
}

.news__item {
  flex: 1;
  margin-right: 25px;
  border-radius: 5px;
  overflow: hidden;
}

.single-news {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.single-news__item-pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 7px 28px;
  min-height: 145px;
}

.single-news__date {
  font-size: 14px;
  margin-bottom: 12px;
}

.single-news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3px;
}

.news__item:last-child {
  margin-right: 0;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 53px;
  margin-left: -13px;
}

.paginator__display {
  margin-right: 20px;
}

.paginator__list {
  display: flex;
  align-items: center;
}

.paginator__item {
  text-align: center;
}

.paginator__item:last-child {
  margin-right: 0;
}

.paginator__link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-flex;
  text-decoration: none;
  font-weight: 700;
  line-height: 37px;
  padding-left: 11px;
}

.paginator__item--active .paginator__link {
  background: #fff;
  color: #F5170E;
  margin-left: 19px;
}

.about-us {
  display: flex;
  margin-top: -252px;
}

.about-us:before {
  content: "";
  display: block;
  width: 490px;
  height: 505px;
  background: url(./img/gates.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
}

.about-us__content {
  background-image: url(./img/mountains.png);
  max-width: 809px;
  height: 455px;
  padding: 69px 77px;
  width: 780px;
  margin-left: -131px;
  margin-top: 100px;
}

.about-us__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 37px;
  color: #000000;
}

.about-us__description {
  margin-bottom: 42px;
  color: #060606;
  line-height: 27px;
  width: 502px;
}

.about-us__description p {
  margin-bottom: 20px;
}

.about-us__description p:last-child {
margin-bottom: 0;
}

.footer-container {
  margin-top: auto;
}

.footer-container__section {
  height: 139px;
}

.footer-container__content {
  border-top: 2px solid hsla(0, 0%, 100%, 0.1);
  margin-top: 56px;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.socials {
  margin-right: 58px;
}

.socials__link {
  text-decoration: none;
  display: block;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__list {
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item {
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

/* services page */


.top-line {
  min-height: 412px;
  background: url(./img/headline1.jpg) right 50% top no-repeat;
  display: flex;
  flex-direction: column;
  padding-bottom: 23px;
}

.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.page-title {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  padding-left: 2px;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
  font-weight: bold;
}

.breadcrumbs__item::after {
  content: "/";
  color: #9A9A9A;
  padding-left: 2px;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__item:first-child {
  padding-left: 0px;
}

.page-content {
  background: #F2F2F2;
  color: #303030;
  padding: 98px 0 181px 0;
}

.services {
  margin-bottom: -84px;
}

.service {
  display: flex;
}

.service__img {
  width: 41%;
  margin: 5px 48px 44px -1px;
}

.service__content {
  flex: 1;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 28px;
  margin-top: 15px;
}

.service__desc {
  line-height: 27px;
  margin-bottom: 34px;
}

.btn {
  padding: 17px 41px;
}

.paginator--theme--red {
  color: #000000;
  margin-top: 102px;
  margin-right: -39px;

}

.paginator--theme--red .paginator__item--active .paginator__link {
color: #fff;
background: #F5170E;
}

.paginator--theme--red .paginator__link:hover {
  color: #fff;
  background: #F5170E;
}

.inner-section {
  background: #fff;
  color: #1A1B1E;
  padding: 78px 0;
}

.inner-section--bg--grey {
  background: #F4F5F5;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 52px;
  margin-top: -93px;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 249px;
  height: 129px;
  align-items: center;
}

.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
margin-left: 46px;
}

.partners__item:nth-child(4n+1) {
  margin-left: 0;
}

.partners__item:nth-child(3n+1) {
  margin-right: 0;
}

.inner-footer__container {
  padding: 40px 0;
}

.inner-footer {
  margin-top: auto;
}