.service {
  display: flex;
  margin-bottom: -84px;
}

.services__item {
  margin-bottom: 44px;
}

.service__img {
  width: 45%;
  margin: 4px 0px 1px;
}

.service__content {
  flex: 1;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 28px;
  margin-top: 15px;
}

.service__desc {
  line-height: 27px;
  margin-bottom: 34px;
}