.socials {
  margin-right: 58px;
}

.socials__link {
  text-decoration: none;
  display: block;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__list {
  display: flex;
  margin-right: 19px;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}