.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

.main-page-wrepper {
  background: url(../../img/1.jpg)  50% 0%, url(../../img/2.jpg) 50% 92%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

body {
  font-family: "Open Sans";
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  height: 100%;
  width: 100%;
}

.html {
  height: 100%;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 1141px;
}

.welcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url(../../img/welcome.png) 50% 70% no-repeat;
}

.button__red {
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: flex;
  margin-right: 345px;
}

.button__line {
  display: flex;
}

.button {
  text-decoration: none;
}

.button--line {
  display: flex;
  background: #fff;
  color: #F5170E;
  border: #F5170E;
  border-style: solid;
  border-width: 1px;
  padding: 17px 31px;
  border-radius: 35px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.button--item {
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 30px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: flex;
  border: none;
  cursor: pointer;
}

.btn {
  padding: 17px 41px;
}

.button--black {
  background: #2B2B2B;
  border-radius: 35px;
  padding: 18px 44px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: flex;
  border: none;
  margin-right: 18px;
  cursor: pointer;
}

.button--item-red {
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 41px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: flex;
  border: none;
  cursor: pointer;
}

.button--item-red-welcome {
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 57px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button--black:hover {
  background: #F5170E;
}

.about-us__button {
  margin-right: 111px;
}

.section {
  margin-bottom: 125px;
}