.form__row {
  display: flex;
  margin-bottom: 35px;
}

.form__input {
  flex: 1;
  margin-right: 28px;
  border-radius: 5px;
  border: none;
  background: #fff;
  padding: 21px 30px;
  font-size: 18px;
  color: #1A1B1E;
}


.form__input:last-child {
  margin-right: 0;
}

.form__input::placeholder {
  color: #666666;
}

.form__input--textarea {
  height: 235px;
}

.form__controls {
  display: flex;
  margin-bottom: 25px;
}

.form__controls-title {
  width: 37%;
  font-size: 18px;
}

.form__btns {
  display: flex;
  justify-content: end;
  margin-bottom: 21px;
}